/* Colores */
/* fuentes */
/* breakpoint */
/* Colores */
/* fuentes */
/* breakpoint */
/* Funcion */
h2 {
  font-family: "Merriweather"; }

p {
  font-family: "Roboto";
  font-weight: 600; }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

.logo {
  /* width: 8rem; */
  width: 0%; }

.header {
  background-color: #feeafa7e;
  padding-bottom: 1rem;
  border-bottom: 2px solid rgba(0, 0, 0, 0.336); }
  .header section h1 {
    text-align: center;
    font-family: "Merriweather";
    font-weight: 800; }

/* <------- Main-col-1 --------> */
.main {
  margin-top: 2rem;
  /* Grid */
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(4, auto);
  grid-template-areas: "col1 col1" "col2 col2" "col3 col3" "foot foot"; }

.grid-col-1 {
  padding-bottom: 1rem;
  border-bottom: 2px solid black;
  grid-area: col1;
  /* Flexbox */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.manicura-carousel {
  height: 37rem;
  overflow: hidden; }
  @media (min-width: 1200px) {
    .manicura-carousel {
      width: 750px; } }

.manicura {
  text-align: center;
  margin-top: 2rem;
  width: 80vw; }
  .manicura h2 {
    font-family: "Merriweather"; }
  .manicura p {
    font-family: "Roboto";
    font-weight: 600; }
  @media (min-width: 1200px) {
    .manicura {
      grid-area: text;
      text-align: center;
      width: 350px; } }

.btn-index, .btn--formulario {
  background-color: #ffafcc;
  transition: "box" 0.1s;
  transform: translatex(120px); }
  .btn-index:hover, .btn--formulario:hover {
    transition-property: "box";
    transform: scale(1.05, 1.05);
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.308);
    transform: translatex(120px); }
    @media (min-width: 1200px) {
      .btn-index:hover, .btn--formulario:hover {
        background-color: lighten #ffafcc 30%; } }
  .btn-index a, .btn--formulario a {
    text-decoration: none;
    color: black;
    font-weight: 500; }
    .btn-index a:hover, .btn--formulario a:hover {
      color: boton-texto;
      text-decoration: underline; }

/* <------- Main-col-2 --------> */
.grid-col-2 {
  padding-top: 1rem;
  grid-area: col2;
  padding-bottom: 1rem;
  border-bottom: 2px solid black;
  /* Flexbox */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.pedicura h2 {
  font-family: "Merriweather";
  text-align: center; }

.pedicura p {
  font-family: "Roboto";
  font-weight: 600;
  text-align: center; }

.pedicura-carousel {
  height: 30rem;
  overflow: hidden; }

/* <------- Main-col-3 --------> */
.grid-col-3 {
  grid-area: col3;
  text-align: center;
  padding: 1rem 0;
  border-bottom: 2px solid black;
  /* Flexbox */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.cejas {
  width: 80vw; }
  .cejas h2 {
    font-family: "Merriweather"; }
  .cejas p {
    font-family: "Roboto";
    font-weight: 600; }

.cejas-img img {
  width: 100vw; }

/* <------- Footer --------> */
.footer {
  background-image: linear-gradient(to bottom, #fc96e88e, #d681c5af);
  grid-area: foot; }

.footer-h4 {
  text-align: center;
  text-decoration: underline; }

.footer ul li a {
  text-decoration: none;
  color: black;
  font-weight: 600;
  font-family: "roboto"; }
  .footer ul li a:hover {
    text-decoration: underline; }

/* <=============== Pagina Formulario ================> */
.form-box {
  width: 80%;
  background-color: #feeafa;
  padding: 0.8rem;
  border-radius: 15px; }

.form-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.form-grid {
  padding-bottom: 2rem;
  padding-top: 1rem; }

.btn--formulario {
  background-color: blue;
  transform: translate(0); }
  .btn--formulario:hover {
    transform: translate(0); }

iframe {
  width: 100vw;
  padding-bottom: 1rem; }

/* <=============== Pagina Manicura ================> */
.main-enlace-archivero {
  display: grid;
  grid-template-columns: 100vw;
  grid-template-rows: auto auto auto;
  grid-template-areas: "manicura" "beneManic" "archivero"; }

.enlaceArchivero-col-1 {
  grid-area: manicura;
  border-bottom: 1px solid rgba(0, 0, 0, 0.507);
  padding-bottom: 1rem;
  /* Media */
  /* Media */ }
  @media (min-width: 1200px) {
    .enlaceArchivero-col-1 {
      border: none;
      display: flex;
      flex-direction: column;
      align-items: center; } }
  @media (min-width: 1200px) {
    .enlaceArchivero-col-1 div {
      width: 80%;
      padding-top: 1rem;
      /* Flexbox */
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-around;
      align-items: center; } }
  @media (min-width: 1200px) {
    .enlaceArchivero-col-1 section {
      width: 50%; } }
  .enlaceArchivero-col-1 section .enlacemain__textoTitulo {
    padding-top: 1rem;
    /* Flexbox */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .enlaceArchivero-col-1 section .enlacemain__textoTitulo h2 {
      font-family: "Merriweather"; }
    .enlaceArchivero-col-1 section .enlacemain__textoTitulo p {
      width: 90%;
      text-align: center;
      font-family: "Roboto"; }
  @media (min-width: 1200px) {
    .enlaceArchivero-col-1 .sectionimg-manicura {
      width: fit-content; }
      .enlaceArchivero-col-1 .sectionimg-manicura .imagen-manicura-enlace img {
        width: 400px;
        box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.37);
        border-radius: 5px; } }

/*========== Col-2 ===========*/
.enlaceArchivero-col-2 {
  grid-area: beneManic;
  padding-top: 1rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.507);
  /* flexbox */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .enlaceArchivero-col-2 .col-2-section-1 {
    text-align: center; }
  @media (min-width: 1200px) {
    .enlaceArchivero-col-2 {
      padding-top: 5rem; }
      .enlaceArchivero-col-2 div {
        width: 80%;
        /* Flexbox */
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start; }
      .enlaceArchivero-col-2 .col-2-section-1 {
        width: 40%; }
      .enlaceArchivero-col-2 .col-2-section-2 {
        width: fit-content; }
      .enlaceArchivero-col-2 iframe {
        width: 60rem; } }

.col-2-article-1 h2 {
  font-family: "Merriweather"; }

.col-2-article-1 p {
  font-family: "Roboto"; }

/* ======= col-3 ========== */
.enlaceArchivero-col-3 {
  grid-area: archivero;
  background-color: #feeafa7e;
  padding: 1rem 1rem; }
  .enlaceArchivero-col-3 .text-dark {
    font-weight: 500; }

/* <=============== Paginas Cejas, Pedicura ================> */
.main-enlace {
  width: 100vw;
  /* Grid */
  display: grid;
  grid-template-rows: auto auto;
  grid-template-areas: "row1" "row2"; }

.enlace-col-1 {
  grid-area: row1;
  padding: 1rem 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.507);
  /* Flexbox */
  display: flex;
  flex-direction: column;
  align-items: center; }
  .enlace-col-1 section {
    text-align: center; }
  @media (min-width: 1200px) {
    .enlace-col-1 div {
      width: 90%;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center; }
      .enlace-col-1 div section {
        width: 40%; } }

/* ======= col-2 ========== */
.enlace-col-2 {
  grid-area: row2;
  padding-top: 1rem;
  background-color: #feeafa7e; }
  .enlace-col-2 article {
    text-align: center; }
  @media (min-width: 1200px) {
    .enlace-col-2 div {
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-around;
      align-items: center; }
      .enlace-col-2 div .section-texto-col-2 {
        width: 40%; }
        .enlace-col-2 div .section-texto-col-2 article {
          width: 80%; }
      .enlace-col-2 div section article iframe {
        width: 900px; } }

/* <------- Media --------> */
@media screen and (min-width: 1200px) {
  .divContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
    grid-template-areas: "head head head" "main main main" "foot foot foot"; }
  .logo {
    width: 100px; }
  .logo-section {
    padding-top: 1rem;
    width: 61%;
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
  .header {
    grid-area: head; }
  .main {
    grid-area: main; }
  .footer {
    grid-area: foot; }
  .nav-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-weight: 500; }
  /* <------- Main-col-1 --------> */
  .grid-col-1 {
    border: 1px solid black;
    /* Grid */
    display: grid;
    grid-template-columns: 150px repeat(3, 550px);
    grid-template-rows: repeat(4, 25%);
    grid-template-areas: "side carousel carousel text" "side carousel carousel text" "side carousel carousel text" "side carousel carousel button"; }
  .manicura-carousel {
    grid-area: carousel; }
    .manicura-carousel img {
      height: 700px; }
  .form-button {
    grid-area: button; }
  /* <------- Main-col-2 --------> */
  .flex-col-2 {
    width: 80%;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .flex-col-2 .img-col2 {
      display: flex;
      justify-content: center; }
  .pedicura-carousel img {
    height: 550px; }
  .pedicura {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .pedicura h2 {
      text-align: center;
      width: 40%; }
    .pedicura p {
      text-align: center;
      width: 60%; }
  .pedicura-carousel {
    width: 1000px; }
  /* <------- Main-col-3 --------> */
  .cejas-img img {
    width: 90%;
    height: 400px; }
  /* <=============== Pagina Formulario ================> */
  .form-grid {
    background-image: url(/multimedia/vector-fondo.jpg); }
  .form-flex {
    width: 97%;
    justify-content: flex-end;
    align-items: flex-end; }
  .form-box {
    width: 40%; }
  iframe {
    height: 500px; } }
