* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

.logo {
  /* width: 8rem; */
  width: 0%; }

.header {
  background-color: #feeafa7e;
  padding-bottom: 1rem;
  border-bottom: 2px solid rgba(0, 0, 0, 0.336); }
  .header section h1 {
    text-align: center;
    font-family: "merriweather";
    font-weight: 800; }

/* <------- Main-col-1 --------> */
.main {
  margin-top: 2rem;
  /* Grid */
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(4, auto);
  grid-template-areas: "col1 col1" "col2 col2" "col3 col3" "foot foot"; }

.grid-col-1 {
  padding-bottom: 1rem;
  border-bottom: 2px solid black;
  grid-area: col1;
  /* Flexbox */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.manicura-carousel {
  height: 37rem;
  overflow: hidden; }

.manicura {
  text-align: center;
  margin-top: 2rem;
  width: 80vw; }
  .manicura h2 {
    font-family: "merriweather"; }
  .manicura p {
    font-family: "roboto";
    font-weight: 600; }

.btn-index {
  background-color: #feeafa;
  transition: "box" 0.1s;
  transform: translatex(120px); }
  .btn-index:hover {
    transition-property: "box";
    transform: scale(1.05, 1.05);
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.308);
    transform: translatex(120px); }
  .btn-index a {
    text-decoration: none;
    color: black;
    font-weight: 500; }
    .btn-index a:hover {
      color: blueviolet;
      text-decoration: underline; }

/* <------- Main-col-2 --------> */
.grid-col-2 {
  padding-top: 1rem;
  grid-area: col2;
  padding-bottom: 1rem;
  border-bottom: 2px solid black;
  /* Flexbox */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.pedicura h2 {
  font-family: "merriweather";
  text-align: center; }

.pedicura p {
  font-family: "roboto";
  font-weight: 600;
  text-align: center; }

.pedicura-carousel {
  height: 30rem;
  overflow: hidden; }

/* <------- Main-col-3 --------> */
.grid-col-3 {
  grid-area: col3;
  text-align: center;
  padding: 1rem 0;
  border-bottom: 2px solid black;
  /* Flexbox */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.cejas {
  width: 80vw; }
  .cejas h2 {
    font-family: "merriweather"; }
  .cejas p {
    font-family: "roboto";
    font-weight: 600; }

.cejas-img img {
  width: 100vw; }

/* <------- Footer --------> */
.footer {
  background-image: linear-gradient(to bottom, #fc96e88e, #d681c5af);
  grid-area: foot; }

.footer-h4 {
  text-align: center;
  text-decoration: underline; }

.footer ul li a {
  text-decoration: none;
  color: black;
  font-weight: 600;
  font-family: "roboto"; }
  .footer ul li a:hover {
    text-decoration: underline; }

/* <=============== Pagina Formulario ================> */
.form-box {
  width: 80%;
  background-color: #feeafa;
  padding: 0.8rem;
  border-radius: 15px; }

.form-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.form-grid {
  padding-bottom: 2rem;
  padding-top: 1rem; }

iframe {
  width: 100vw;
  padding-bottom: 1rem; }

/* <------- Media --------> */
@media screen and (min-width: 1200px) {
  .divContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
    grid-template-areas: "head head head" "main main main" "foot foot foot"; }
  .logo {
    width: 100px; }
  .logo-section {
    padding-top: 1rem;
    width: 61%;
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
  .header {
    grid-area: head; }
  .main {
    grid-area: main; }
  .footer {
    grid-area: foot; }
  .nav-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-weight: 500; }
  /* <------- Main-col-1 --------> */
  .grid-col-1 {
    border: 1px solid black;
    /* Grid */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 25%);
    grid-template-areas: "carousel carousel text" "carousel carousel text" "carousel carousel text" "carousel carousel button"; }
  .manicura-carousel {
    grid-area: carousel; }
    .manicura-carousel img {
      height: 700px; }
  .manicura {
    grid-area: text;
    text-align: center;
    width: 350px; }
  .form-button {
    grid-area: button; }
  /* <------- Main-col-2 --------> */
  .flex-col-2 {
    width: 80%; }
  .pedicura-carousel img {
    height: 600px; }
  .pedicura {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .pedicura h2 {
      text-align: center;
      width: 40%; }
    .pedicura p {
      text-align: center;
      width: 60%; }
  /* <------- Main-col-3 --------> */
  .cejas-img img {
    width: 90%;
    height: 400px; }
  /* <=============== Pagina Formulario ================> */
  .form-grid {
    background-image: url(/multimedia/vector-fondo.jpg); }
  .form-flex {
    width: 97%;
    justify-content: flex-end;
    align-items: flex-end; }
  .form-box {
    width: 40%; }
  iframe {
    height: 500px; } }
