/* Colores */
$colores-fondo: (principal:#feeafa7e, secundario:#feeafa, boton-texto:blueviolet, boton-bg:#ffafcc, boton-bg-light: lighten (#ffafcc 30%));

/* fuentes */
$font-title:'Merriweather';
$font-text:'Roboto';

/* breakpoint */
$desktop: 1200px